@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  background-color: #ffffff;
  font-family: sans-serif;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  position: sticky;
  top: 0;
  background: #fff;
}
nav {
  display: flex;
  height: 58px;
  /* border: 1px solid black; */
  justify-content: space-between;
  margin: 0px 5px 0px 5px;
  position: relative;
  margin-top: 2px;
  align-items: center;
  padding-left: 30px;
}
ul {
  display: flex;
  list-style: none;
  align-items: center;
}
li {
  align-content: center;
  margin-right: 15px;
  font-size: 20px;
  font-weight: 400;
}
nav ul li:hover {
  border-bottom: rgb(255, 251, 0) 2px solid;
}
.firstsection {
  /* border: 1px solid green; */
  height: 400px;
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
}
.sideleft {
  width: 55%;
  padding: 100px;
  font-size: 28px;
}
#lite {
  font-size: 22px;
  font-weight: 300;
}
.sideright img {
  border-radius: 40px;
}
.secondsection {
  border: 1px solid #e2e2e2;
  height: 300px;
  width: 93%;
  display: flex;
  border-radius: 10px;
  margin-top: 1px;
  margin-left: 40px;
  margin-right: 5px;
}
.secondleft {
  border-radius: 10px;
  height: 248px;
  width: 60%;
  padding: 50px;
}
.secondleft h5 {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 30px;
  box-sizing: border-box;
}
.secondleft p {
  margin-bottom: 10px;
}
.secondright {
  width: 40%;
  border-radius: 10px;
}
.status {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.status a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}
.status > a:hover {
  text-decoration: underline;
}
.secondright img {
  justify-content: flex-end;
  height: 300px;
  width: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.thirdsection {
  /* border: 1px solid black; */
  height: 360px;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 305px);
  column-gap: 20px;
  justify-content: space-evenly;
}
.box {
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  margin-top: 3px;
}
.box img {
  width: 100%;
  height: 40%;
}
.box .texts {
  font-weight: 200;
  padding: 10px 8px 0px 8px;
}
.box .texts .status {
  margin-top: 7px;
  font-weight: 200;
  margin-bottom: 10px;
  margin-top: 10px;
}
.box .texts h5 {
  font-size: 20px;
  text-align: justify;
}
.box .texts p {
  font-size: 15px;
}
.four img {
  width: 100%;
  height: 100%;
}

.four {
  width: 85%;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid #e2e2e2;
  display: grid;
  grid-template-columns: 60% 40%;
  border-radius: 5px;
}
.fourthleft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.footer {
  display: flex;
  justify-content: space-between;
  margin-left: 55px;
  margin-top: 25px;
  margin-bottom: 20px;
}
.footer img {
  height: 25px;
  width: 25px;
}
.footer ul {
  display: flex;
  margin-right: 55px;
}
